<h1>Created</h1>
<h3>Enter your character information</h3>
<form action="/character/add" method="post">
  <label for="new-character">Character Name</label>
  <input id="new-character" name="new-character" type="text" required="required">
  <label for="new-class">Character Class</label>
  <input id="new-class" name="new-class" type="text" required="required">
  <label for="new-race">Character Race</label>
  <input id="new-race" name="new-race" type="text" required="required">
  <button type="submit" name="button">Add Character</button>
</form>
