<ul>
  <li>@Model.characterName</li>
  <li>@Model.characterClass</li>
  <li>@Model.characterRace</li>
</ul>

<a href='/character/new'>Add another character</a>
<a href='/character/view_all'>View all characters</a>
